In [1]:
a = 3
b = 4

In [2]:
a + b

7

In [3]:
a = 10

In [4]:
a + b

14

In [5]:
1 + 2 + a + b

17

In [6]:
a = "test"

In [7]:
a + b

TypeError: can only concatenate str (not "int") to str

In [8]:
b = "test2"

In [9]:
a + b

'testtest2'

In [10]:
a = "4"
b = "3"

In [11]:
a + b

'43'

In [12]:
sum(4,3)

TypeError: 'int' object is not iterable

In [13]:
sum(3,2)

TypeError: 'int' object is not iterable

In [14]:
import math

In [15]:
sum(3,4)

TypeError: 'int' object is not iterable

In [16]:
sqrt(3)

NameError: name 'sqrt' is not defined

In [18]:
math.sqrt(91)

9.539392014169456

In [9]:
def minus(pervoe_chislo:int, vtoroe_chislo:int):
    if 1 < pervoe_chislo < 100:
        otvet = pervoe_chislo * vtoroe_chislo  
    else: otvet = "neverno"
    print(otvet)

In [13]:
a = 10
b = 3
hui = 15631232
minus(b, b)

9

In [2]:
def minus(a, b):
    result = a * b
    print(result)

In [3]:
minus(4,5)

20

In [4]:
minus(a,b)

60

In [5]:
minus(4,a)

40